{% extends 'B55YargBundle::layout.html.twig' %}
{% set active = 'my_yarg' %}

{% block content %}
  <div class="yarg-form">
    {% include 'B55YargBundle:Cvs:add_content.html.twig' with {'form': form} %}
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'yarg.cv.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
  </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    var translations = {
      'title': "{{ 'yarg.my_yarg.cv.help.title'|trans }}",
      'description': "{{ 'yarg.my_yarg.cv.help.description'|trans }}",
      'catch': "{{ 'yarg.my_yarg.cv.help.catch'|trans }}"
    }
  </script>
  {{ parent() }}
{% endblock %}
