{% extends 'B55YargBundle::layout.html.twig' %}
{% set active = 'my_yarg' %}

{% block content %}
  <h2>{{ 'yarg.my_yarg.welcome'|trans }} {{ app.user.username }}</h2>
  {% if app.user.hasCv %}
    <h3>{{ 'yarg.my_yarg.your_cvs'}}</h3>
    <ul class="yarg_cv_list">
      {% for cv in app.user.cvs %}
        <li><a href="{{ path('yarg_myyarg_show_cv', {"slug": cv.slug}) }}">{{ cv.title }}</a> - <a href="#"><i class="icon-trash"></i></a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p id="yarg_no_cv">{{ 'yarg.my_yarg.no_cv'|trans }}</p>
  {% endif %}

  <p>{{ 'yarg.my_yarg.create_a_cv'|trans }}</p>
  <p><a id="yarg_add_cv" href="{{ path('yarg_myyarg_new_cv')}}">
    <button name = "yarg_add_cv" class="btn btn-primary"><i class="icon-plus icon-white"></i>
      {{ 'yarg.my_yarg.new_cv_link'|trans }}
    </button>
  </a></p>
{% endblock %}
